.board__container {
  border: 5px solid black;
  width: auto;
  height: 700px;
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px;
}

.board__actions {
  display: flex;
  column-gap: 10px;
}
