.score-box {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.history-row {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid black;

  .history-row__cards {
    display: flex;
    flex: 1;
  }
}
