* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Caveat Brush', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

root {
  height: 100vh;
}
